*{
    margin: 0px;
    padding: 0px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

h1{
    padding: 10px 0px;
    margin-left: 10px;
}

.formElements{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 10px;
    margin: 10px;
}

button{
    padding: 10px;
    margin-left: 10px;
}

select{
    padding: 10px;
}

input{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .formElements {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    input{
        width: 94%;
    }
  }